pytest
# requests is intentionally missing

requests'
2026-01-31T08:58:09.5704201Z =========================== short test summary info ============================
2026-01-31T08:58:09.5704743Z ERROR tests/test_app.py
2026-01-31T08:58:09.5705244Z !!!!!!!!!!!!!!!!!!!! Interrupted: 1 error during collection !!!!!!!!!!!!!!!!!!!!
2026-01-31T08:58:09.5705894Z =============================== 1 error in 0.12s ===============================
2026-01-31T08:58:09.5899919Z ##[error]Process completed with exit code 2.
﻿2026-01-31T08:58:09.6013942Z Post job cleanup.
2026-01-31T08:58:09.6930543Z [command]/usr/bin/git version
2026-01-31T08:58:09.6965341Z git version 2.52.0
2026-01-31T08:58:09.7014053Z Temporarily overriding HOME='/home/runner/work/_temp/bba89fad-ed10-4789-8eb9-9934ca827603' before making global git config changes
2026-01-31T08:58:09.7015486Z Adding repository directory to the temporary git global config as a safe directory
2026-01-31T08:58:09.7020123Z [command]/usr/bin/git config --global --add safe.directory /home/runner/work/cifixagent/cifixagent
2026-01-31T08:58:09.7054201Z [command]/usr/bin/git config --local --name-only --get-regexp core\.sshCommand
2026-01-31T08:58:09.7086663Z [command]/usr/bin/git submodule foreach --recursive sh -c "git config --local --name-only --get-regexp 'core\.sshCommand' && git config --local --unset-all 'core.sshCommand' || :"
2026-01-31T08:58:09.7356368Z [command]/usr/bin/git config --local --name-only --get-regexp http\.https\:\/\/github\.com\/\.extraheader
2026-01-31T08:58:09.7376215Z http.https://github.com/.extraheader
2026-01-31T08:58:09.7389278Z [command]/usr/bin/git config --local --unset-all http.https://github.com/.extraheader
2026-01-31T08:58:09.7419623Z [command]/usr/bin/git submodule foreach --recursive sh -c "git config --local --name-only --get-regexp 'http\.https\:\/\/github\.com\/\.extraheader' && git config --local --unset-all 'http.https://github.com/.extraheader' || :"
2026-01-31T08:58:09.7638905Z [command]/usr/bin/git config --local --name-only --get-regexp ^includeIf\.gitdir:
2026-01-31T08:58:09.7668365Z [command]/usr/bin/git submodule foreach --recursive git config --local --show-origin --name-only --get-regexp remote.origin.url
﻿2026-01-31T08:58:09.7985539Z Cleaning up orphan processes
